<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>search page</title>
    <link rel="stylesheet" href="/search.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  </head>
  <body>
    <%- include('partials/head'); %>

    <div class="form">
        <h2>How Can I Help You?</h2>
        <div class="row">
        <form action="/search" method="POST">
          <div class="form-group">
            <label for="cat" >Category:</label>
            <select class="form-control" name="catergory" id="cat" name="category">
                <option>Blog</option>
                <option>Notice</option>
                <option >both</option>
            </select>
          </div>

            <div class="form-group">
            <label for="username" >Username:</label>
            <input class="form-control" type="text" name="username" id="username">
            </div>
            <div class="form-group"></div>
            <label for="Title">Title</label>
            <input class="form-control" type="text" name="title" id="Title">
          </div>
        <br>
        <div class="form-group text-center">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
        <button  type="submit" role="button"  style="background-color: rgba(255, 0, 55, 0.966)">search</button>
      </div>
        </form>
      </div>
    </div>
<br>
    <div>
        <span class="divider"></span>
    </div>

    <div class ="container3" style="text-align:center;">
        <h2>About Us</h2>
        <p>Email: admin@sharewith.com</p>
        <p>contact No: (+91)933-6842-211</p>
    </div>

  </body>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</html>