<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>signup page</title>
    <link rel="stylesheet" href="/signup.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  </head>
  <body>
    <%- include('partials/head'); %>


    <div class="container1">
    <div class="card" style="width: 25rem; border-radius: 30px;">
        <div class="card-header text-center">
         <h5>Create An Account</h5> 
         <p>Already have an account?</p>
         <a class="btn" href="/login" style="background-color: rgba(255, 0, 55, 0.966)">login</a>

        </div>
        <div class="card-body">
         <form action="/signup" method="POST">
          <div class="form-group">
             <label for="fname">First Name: </label>
             
             <input type="text" id="fname" name="fname" class="form-control">
         </div>
         <div class="form-group">
             <label for="lname">Last Name: </label>
             
             <input type="text" id="lname" name="lname" class="form-control">
            </div>
            <div class="form-group">
             <label for="email">Email:</label>
             
             <input type="email" id="email" name="email" placeholder="xyz@abc.com" class="form-control" required>
            </div>
            <div class="form-group">
             <label for="password">Password:</label>
             
             <input type="password" name="password" id="password" placeholder="*******" class="form-control" required>
             </div>
             <br>
             <div class="form-group text-center">
             <input type="hidden" name="_csrf" value="<%= csrfToken %>"  />
             <input type="submit" value="sign up" class="btn" class="form-control" style="background-color: rgba(255, 0, 55, 0.966)"/>
             </div>
         </form>
        </div>
      </div>
    </div>

    <div>
        <span class="divider"></span>
    </div>

    <div class ="container3" style="text-align:center;">
        <h2>About Us</h2>
        <p>Email: admin@sharewith.com</p>
        <p>contact No: (+91)933-6842-211</p>
    </div>

  </body>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</html>